<article class="py-8">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="flex justify-center items-center">
          <div class="max-w-7xl text-center">
            <a class=" text-base text-gray-500 hover:text-gray-900 uppercase font-bold" href="{{ blog.url }}">
              {{- blog.title -}}
            </a>
            <h1 class="text-4xl md:text-6xl font-medium">{{ article.title }}</h1>
          </div>
        </div>
      {% when 'article_author' %}
        {% if section.settings.enable_author_name %}
            <div class="flex items-center justify-center">
                <div class="max-w-7xl text-center">
                    <small>{{ article.author }}</small>
                </div>
            
            </div>
        {% endif %}
      {% when 'article_published_date' %}
        {% if section.settings.enable_published_date %}
            <div class="flex items-center justify-center">
                <div class="max-w-7xl text-center">
                    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                      {{- article.published_at | date: format: "on_date" -}}
                      {% comment %} '%d/%m/%Y' {% endcomment %}
                    </time>
                </div>
            </div>
        {% endif %}

      {% when 'featured_image' %}
        <div class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden my-4">
            {% if article.image != blank %}
                <img class="w-full h-80 md:h-96 object-center object-cover" src="{{ article.image | img_url: 'large' }}" alt="{{ article.image.alt }}">
            {% else %}
                {% assign placeholder_image = 'lifestyle-2' %}
                {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-center object-cover p-5 ' }}
            {% endif %}
        </div>

      {% when 'article_content' %}
        <div class="flex justify-center items-center">
            <div class="max-w-4xl px-5">
                {{ article.content }}
            </div>
        </div>

      {% else %}
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div>
    {% if article.comments_count > 0 %}
      <div class="flex-1 mx-auto px-4 max-w-4xl items-center justify-center">
        <h1 class="text-lg mb-4 font-medium">See What People Are Saying</h1>

        {% paginate article.comments by 12 %}
          {% for comment in article.comments %}
            <div class="flex-1 border my-4 px-4 py-2 sm:py-4 sm:px-6 leading-relaxed">
              <span class="comment-author">{{ comment.author }}</span>
              <span class="text-xs text-gray-400">{{ comment.created_at | date : format: 'default' }}</span>
              <p class="text-sm">{{ comment.content }}</p>
            </div>
          {% endfor %}
        {% endpaginate %}
      
      </div>
    {% else %}
        There are no comments in this article
      
    {% endif %}
  </div>
  <div id="comment_form">
    {% form 'new_comment', article %}

      <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">

    
        {% if form.errors %}
          <div class="border p-5">
            <div class="flex flex-row items-center w-full my-3">
              <div class="text-red-300">
                {% render 'icon-failed' %}
              </div>

              <div class="text-sm font-medium ml-3">
                Oh No! Your Comment Is Not Posted Successfully.
              </div>
            </div>
            <ul class="px-4 mb-3 ml-7 list-decimal">
              {% for error in form.errors %}
                <li>
                  <span>{{ form.errors.messages[error] }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% comment %} </div> {% endcomment %}
          {% elsif form.posted_successfully? %}
          <div class="flex flex-row items-center w-full my-3">
            <div class="text-green-500">
              {% render 'icon-success' %}
            </div>

            <div class="text-sm font-medium ml-3">
              Comment Is Posted Successfully.
            </div>
          </div>  
        {% endif %}

        <div class="px-1 md:flex mb-3">
          <div class="px-3 md:w-1/2 mb-3">
            <label for="comment_author" class="font-medium text-gray-700 text-xs uppercase mb-2">Name</label>
            <input class="w-full text-gray-700 px-4 py-3 border focus:outline-none " type="text" name="comment[author]" id="comment_author" placeholder="John Doe" required>
          </div>
          <div class="px-3 md:w-1/2">
            <label for="comment_email" class="font-medium text-gray-700 text-xs uppercase mb-2">Email</label>
            <input class="w-full text-gray-700 px-4 py-3 border focus:outline-none " type="email" name="comment[email]" id="comment_email" placeholder="John@Doe.com" required>
          </div>
        </div>

        <div class="px-1 mb-3 md:flex">
          <div class="md:w-full px-3">
            <label for="comment_content" class="font-medium text-gray-700 text-xs uppercase mb-2">Comment</label>
            <textarea id="comment_content" class="w-full h-32 px-4 py-3 text-gray-700 resize-none border focus:outline-none" name="comment[body]"  required></textarea>
          </div>
        </div>

        <div class="px-1 mb-3 md:flex">
          <div class="md:w-full px-3">
            <input class="px-5 py-3 my-3 bg-gray-900 hover:bg-gray-500 text-white text-base w-full rounded cursor-pointer border font-medium" type="Submit" value="Post Comment">
          </div>
        </div>
      </div>
    {% endform %}
  </div>

{% endif %}

{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author_name",
      "default": true,
      "label": "Display Author Name"
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "default": true,
      "label": "Display Date Of Publishing"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Article",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 2
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
